@use './partials/resets.scss' as *;
@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

@keyframes bounce{
  0%{
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60%{
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80%{
    transform: translateY(-10px) rotate(-20deg);
  }
  100%{
    transform: translateY(0);
  }
};

.app{
    background-color: $cp-black;   
    padding: $mobile-padding;
    @include tablet{
        padding: $tablet-padding;
    }
}
.hero{
    display: flex;
    flex-direction: column;
    background-color:$cp-black;

    &__left{
        display: flex;
    }
    &__card{
        width: 100%;
        color: $cp-white;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1rem 0 8rem 0;

        @include tablet{
            margin: 2rem 0 10rem 0;
        }

        &--name{
            padding: 1rem 0;
            font-family: 'PatuaOne';
            font-weight: 400;
            font-size: 3.5rem;
            align-self: center;
        }

        &--pin{
            width: 3rem;
            height: 2rem;
            align-self: center;
            margin: 1rem 0;
            animation-name: bounce;
            animation-fill-mode: both;
            animation-duration: 1s;
        }
         
    }
  
}
