@use './partials/resets.scss' as *;
@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

.app{
    background-color: $cp-black;   
    padding: $mobile-padding;
    @include tablet{
        padding: $tablet-padding;
    }
}
.hero{
    display: flex;
    flex-direction: column;
    background-color:$cp-black;

    &__left{
        display: flex;
    }
    &__card{
        width: 100%;
        color: $cp-white;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1rem 0 8rem 0;

        &--name{
            padding: 1rem 0;
            font-family: 'PatuaOne';
            font-weight: 400;
            font-size: 3.5rem;
            align-self: center;
        }
      
    }
  
}